.page {
    margin-left: 400px;
    font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
    line-height: 1.35;
}
.top {
    margin-top: 50px;
}
.navigation{
    display: flex;
    position: relative;
    top: -95px;
    font-size: 1.3em;
    column-gap: 25px;
    margin-left: 350px;
    padding: 20px;
    padding-left: 20px;
}
.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #222842;
    color: #FFFFFF;
    width: 324px;
	font-family: 'Arimo-Bold';
	font-size: 60px;
	width: 270px;
    padding: 24px 10px;
}
.navigation a {
    background-color: #222842;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 3px;
}
.great{
    border: 2px solid #4C8F96;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    margin-top: -25px;
    height: 359px;
    width: 1000px;
}
.gallery {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    column-gap: 20px;
    position: relative;
    height: 200px;
    width: 878px;
}
.gallery img{
    border: 5px solid #4C8F96;
    filter: drop-shadow(0px 10px 10px black);
}
.titles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .91fr;
    grid-template-rows: 1fr;
    margin-left: 0px;
    padding-top: 20px;
    height: 15px;
    width: 940px;
}
.section {
    display: flex;
    flex-direction: row;
    margin-left: -20px;
    padding:20px;
    justify-content: space-evenly;
    column-gap: 20px;
    height: 200px;
    width: 940px;
}
.featured{
    border: 5px solid #4C8F96;
    width: 450px;
    height: 593px;
    padding: 20px;
}
.featured h3 {
text-indent: 50px;
}
.style {
    width: 450px;
    height: 258px;
    color: white;
    border: 5px solid #5FB3BD;
    border-radius: 4px;
    background-color: #519194;
    float: right;
    margin-right: 470px;
    margin-top: -641px;
    padding: 20px;
}
.style h3 {
    float: right;
}
.newsletter {
    border: 5px solid #5FB3BD;
    border-radius: 4px;
    background-color: #519194;
    color: white;
    width: 485px;
    height: 220px;
    float: right;
    margin-right: 474px;
    margin-top: -285px;
}
.newsletter img {
    float: left;
    margin-top: -10px;
}