body{
    background-color: #EDEDED;
}
.page {
    margin-left: 400px;
    font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}
.header{
    background-color:#4C8F96;
    width: 100%;
    height: 154px;
    margin-bottom: -165px;
}
.top {
    margin-top: 50px;
}
.navigation{
    display: flex;
    position: relative;
    top: -95px;
    column-gap: 25px;
    margin-left: 400px;
}
.navigation a{
    background-color: #222842;
    color: white;
    font-size: 16px;
    padding: 0 15px;
    letter-spacing: 0.05em;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.logo {
    background-color: #222842;
    color: #FFFFFF;
    font-family: 'Arimo-Bold';
    height: 130px;
    line-height: 130px;
	font-size: 60px;
    text-align: center;
	width: 270px;
}

.great{
    border: 2px solid #4C8F96;
    border-radius: 2px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1b2130;
    font-family: 'ChangaOne';
    font-size: 25px;
    margin-top: 25px;
    height: 356px;
    width: 1000px;
    line-height: 60px;
}
.gallery {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    column-gap: 41.5px;
    position: relative;
    height: 200px;
    width: 878px;
}
.gallery img{
    border: 5px solid #4C8F96;
    filter: drop-shadow(0px 10px 10px black);
}
.titles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 20px;
    height: 25px;
    width: 1050px;
}
.section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 20px;
    column-gap: 50px;
    height: 200px;
    width: 1000px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 640px;
    width: 1050px;
    position: relative;
    margin-top: 35px;
}
.featuredTitle{
    display: flex;
    align-items: center;
    background-color: #222842;
    color: white;
    font-family: 'Comfortaa-Regular';
    font-size: 16px;
    margin-left: 20px;
    margin-top: -10px;
    width: 100px;
    height: 47px;
    letter-spacing: 0.1em;
    line-height: 47px;
    padding: 0 25px;
    position: absolute;
}
.hairstyleTitle{
    display: flex;
    align-items: center;
    background-color: #222842;
    color: white;
    font-family: 'Comfortaa-Regular';
    font-size: 16px;
    margin-top: -10px;
    width: 100px;
    height: 47px;
    letter-spacing: 0.1em;
    line-height: 47px;
    padding: 0 25px;
    margin-left: 540px;
    position: absolute;
}
.featured{
    border: 5px solid #4C8F96;
    width: 450px;
    height: 550px;
    padding: 20px;
    grid-column: 1/2;
    grid-row: 1/3;
}
.featured img {
position: absolute;
top: 50px;
}
.featured h2 {
text-indent: 150px;
}
.style {
    display: flex;
    align-items: center;
    width: 450px;
    height: 245px;
    color: white;
    border: 5px solid #5FB3BD;
    border-radius: 4px;
    background-color: #519194;
    padding: 20px;
}
.style h2 {
    justify-self: flex-end;
    align-self: flex-end;
    position: absolute;
    margin-left: 380px;
    margin-bottom: -8px;
}
.newsletter {
    border: 5px solid #5FB3BD;
    border-radius: 4px;
    background-color: #519194;
    color: white;
    width: 490px;
    height: 220px;
}
.newsletter img {
    float: left;
    margin-top: -10px;
}
.newsletter p{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 30px;
    padding-top: 24px;
    padding-left: 220px;
}
.footer{
    background-color: #4c8f96;
    border-top: 1px solid #9bd9e0;
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    height: 100px;
    width: 100%;
}
.footer p {
    margin-left: 770px;
    margin-top: 40px;
}
.connect {
    display: flex;
    align-items: center;
    float: right;
    background-color: #387A82;
    height: 18px;
    padding: 22px 20px;
    width: 144px;
    margin-top: 20px;
    margin-right: 460px;
}
.connect a {
    background: url(https://freewebsitetemplates.com/preview/hairstylesalon/images/icons.png) no-repeat;
    float: left;
    height: 20px;
    margin: 0 8px;
    padding: 0;
    text-indent: -99999px;
    width: 20px;
}
.connect #twitter{
    background-position: 0 -32px;
}
.connect #facebook{
    background-position: 0 -57px;
}
.connect #googleplus{
    background-position: 0 -82px;
}
.connect #pinterest{
    background-position: 0 -107px
}